[2019-01-20 21:42] vladaman opened #5 "Provide default constructor to allow extend Beacon class"
Great work!

Can you Please consider to add public constructor so we can extend Beacon class if needed?

[2019-01-20 21:46] vladaman opened #6 "Missing macAddress in toJson method"
Following method is missing macAddress field.

https://github.com/alann-maulana/flutter_beacon/blob/43d44bf605bca7ad6b9f6e5001bc79ba73a6830d/lib/beacon/beacon.dart#L114

[2019-01-22 04:13] alann-maulana commented on #6
Hi @vladaman

I'm little confused, because `CoreLocation` in iOS doesn't return mac address unlike in Android. Is it okay to adding mac address field within platform Android only? I will update it soon..

[2019-01-22 04:14] alann-maulana commented on #5
Hi @vladaman

Nice suggestion, i will add it soon along with updating background monitoring for regions.

[2019-01-30 18:18] vladaman opened #7 "Compilation fails with Flutter 1.1.8 and androidx"
Compilation fails after upgrading flutter and migrating to androidx. Probably related to

[code]
**Error:**
[code]
build.gradle:
[code]

[2019-02-05 14:53] #7 closed

[2019-02-05 14:58] alann-maulana commented on #5
Fix by [commit 43d44bf](https://github.com/alann-maulana/flutter_beacon/commit/4595a2cfeae4c3650c3d8b402639ab2f5f974e7a)

[2019-02-05 14:58] #5 closed

[2019-02-05 14:58] alann-maulana commented on #6
Fix by [commit 43d44bf](https://github.com/alann-maulana/flutter_beacon/commit/4595a2cfeae4c3650c3d8b402639ab2f5f974e7a)

[2019-02-05 14:58] #6 closed

[2019-03-05 13:52] JPyke3 opened #9 "Multiple Beacon Detection"
HI!

Firstly thanks for the great Plugin! I have had some pretty good success with it and its a really good solution!

Just one problem that I have had, I am trying to detect multiple beacons at once, I thought this would be fairly easy because in order to range the beacons you have to accept a list, however for some reason the region only accepts the first list item.

I have figured out that when

[2019-03-05 20:59] JPyke3 commented on #9
Apologies, My error was related to how i was dealing with the stream further down the line. Again, thanks again for the plugin! Its super good! I really appreciate it!

[2019-03-05 20:59] #9 closed

[2019-04-01 15:27] MelissaCOURLA opened #11 "use only major"
Hi, I would like take the major value dans add it at the end of an http link but a not arrive because I don't know how I should to take the major from the Beacon list.
I try to use this line code : final _major=Beacon.fromJson('major'); and I have an issue like 'String' not a subtype of 'int' or 'index'.

[2019-04-02 13:02] KieranSteyn commented on #11
You shouldn't have to parse json. Go with something like `Beacon beacon =  result.beacons[<index of desired beacon>].major`

[2019-04-12 06:16] alann-maulana commented on #11
Hi @MelissaCOURLA

Like @KieranSteyn said, you can get the major of the Beacon by getting the object first, then access it via `major` property. Please check codes below :

[code]

[2019-04-12 06:16] #11 closed

[2019-04-12 09:45] MelissaCOURLA commented on #11
thank for your anwers I will try this both solution

[2019-04-24 05:45] thangtq-intelads opened #12 "E/CycledLeScannerForLollipop(15802): Scan failed: app cannot be registered"
sometime i have an error "E/CycledLeScannerForLollipop(15802): Scan failed: app cannot be registered" and then i can't use my phone to detect any beacon but i still use location service like google map application.

i try to "google" and i find the similar issues as bellow, please help me to resolve it
https://github.com/AltBeacon/android-beacon-library/issues/694

[2019-04-30 06:59] alann-maulana commented on #12
Hi @thangtq-intelads

What device manufacture and type do use for scanning? Well, as you know I'm using [Android Beacon Library](https://github.com/AltBeacon/android-beacon-library) for manage scanning in Android. Please try to upgrade the library by using the latest [here](https://github.com/AltBeacon/android-beacon-library/releases).

[2019-05-03 07:49] thangtq-intelads commented on #12
thanks for your support

On Tue, Apr 30, 2019 at 1:59 PM Alann Maulana <notifications@github.com>
wrote:

[2019-05-03 08:18] MelissaCOURLA opened #13 "Put major in a variable"
Hi, I try to create a variable   like this final _major = result.beacons[<index of desired beacon>].major but I don't understand what is an index of desired beacon.
I try this line final _major = result.beacons[<beacon>].major
I try add this line  with other variable
class _MyAppState extends State<MyApp>
{
  StreamSubscription<RangingResult> _streamRanging;
  final _beacons = <Beacon>[];
  final

[2019-05-03 10:20] Calou07 opened #14 "Problem with 'regions'"
Hello
I have a problem in the detection of beacons. Only one line makes the app to crash just after opening it.
This line is : regions.add(Region(identifier: 'com.beacon'));
Without it, the app open and runs on my device but it don't shows any beacons.

Here's the whole code :

[code]
My phone is the Oneplus 6 under android 9.
What can I do to prevent this to happen ?

[2019-05-06 01:28] alann-maulana commented on #12
Already updated to the latest Android Beacon Library, you can update it using [v0.2.2](https://pub.dartlang.org/packages/flutter_beacon/versions/0.2.2). I hope it can fix the problems :D

[2019-05-06 01:28] #12 closed

[2019-05-06 01:35] alann-maulana commented on #14
Hi @Calou07 ,

Can you check if all the permissions already complied? Starting for Android 6.0, you need to allow access for location services and enabled it. Also you need to turn on bluetooth for scanning.

Maybe you can post the error that happen here.

Thanks

[2019-05-06 01:39] alann-maulana commented on #13
Hi @MelissaCOURLA

For ranging result, `beacons` is a `List` of `Beacon`'s object. You need to learn about how to get data from a list by referring to [List class docs here](https://docs.flutter.io/flutter/dart-core/List-class.html).

[2019-05-06 01:39] #13 closed

[2019-05-06 07:04] MelissaCOURLA commented on #13
than for your answer

[2019-05-06 07:13] Calou07 commented on #14
Hello @alann-maulana , thank you for your response.
The location and the bluetooth are activated and allowed.

The problem is that when I comment the line i said on the previous post, i can dubug it on my phone. When i uncomment it, the app crashes.

The last lines I have on the debug console are :

    #38 pc 0000000000524f94  /system/lib64/libart.so (MterpInvokeVirtual+588)
    #39 pc 0000000000

[2019-05-06 13:33] Calou07 commented on #14
I tried with older versions and 0.1.1. works fine on my phone.
Newer versions do not work for me.

Thank you for your help, and I hope I also helped you by showing my problem.

[2019-05-06 13:33] #14 closed

[2019-05-10 12:01] IordacheClaudiu opened #15 "Stop scanning"
Hi,
I couldn't find on `FlutterBeacon.dart` any method to stop scanning even though on native implementations I found these methods. Is this intended or work on progress?
Best regards!😃

[2019-05-15 04:27] alann-maulana commented on #15
Hi @IordacheClaudiu

Yeah, I have a lot of homework for improving this plugins 😄including stop ranging and monitoring as well. It will nice too for adding good handling on `authorizationStatus`

[2019-05-20 13:14] 1553011 opened #17 "Not working when ranging beacon"
Using the function Ranging beacon, I got the error like this:  java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/content/LocalBroadcastManager. Caused by: java.lang.NoClassDefFoundError: Class not found using the boot class loader; no stack trace available. I dont know how to fix this issue. Is there anyone know how to solve this problem ?

[2019-05-28 03:01] alann-maulana commented on #17
Hi @1553011

What phone do you use for testing? Android version? I use Sams*ng S5 and S10+ and there are no error happen.

[2019-06-03 05:22] dvlj commented on #17
same problem happen with samsung s7 (lastest android os version)

[2019-06-04 08:25] Victor-emil commented on #17
I am also getting this exact error. It worked perfectly a month ago, but in the meantime I've updated dart to Dart version 2.3.0 (build 2.3.0-dev.0.5 a1668566e5). When booting up my project this morning I got the error. I'm on a Samsung Galaxy S6.

[2019-07-16 09:34] awazgyawali commented on #17
This is not working on Samsung phones. I dug in to check what's the issue, found that it uses this version of the library

`api 'org.altbeacon:android-beacon-library:2.16.1'`

but there is an update on the library available [here](https://github.com/AltBeacon/android-beacon-library/releases/tag/2.16.2) and it mentions a fix on Samsung specific phone.

I have updated the version of the library and

[2019-07-22 21:54] shinyford commented on #17
I believe this is because the package is using an old appcompat library: upgrading it to AndroidX should solve the problem. @alann-maulana, is that something you're looking at doing?

[2019-07-27 09:42] mshanak opened #19 "the example is not working"
I've tried to run the example, but it not working on Android.

I am using the latest version of flutter ( v 1.7)

[2019-07-31 02:55] tamnguyen-kbtg commented on #15
+1
need stop ranging and stop monitoring also.

[2019-08-05 07:46] alann-maulana commented on #19
Hi @mshanak

What device type and manufacturer do you use? Along with the Android version.

[2019-08-05 07:51] alann-maulana commented on #17
Sorry dudes, having a lot of homework last month. Already merge it. I hope it will fix your issue. Close it now :)

[2019-08-05 07:51] #17 closed

[2019-08-06 14:58] Underground-Cheese-Weasel commented on #19
I have the same issue, running Samsung Galaxy SM-J730F Running Android 9 (API level 28).

[2019-08-15 14:37] awazgyawali commented on #19
The plugin is not working on Samsung phones.

[2019-08-21 07:32] ferren commented on #19
Caused by: java.lang.ClassNotFoundException: Didn't find class "android.support.v4.content.LocalBroadcastManager" on path: DexPathList[[zip file "/data/app/com.flutterbeaconexample-1/base.apk"],nativeLibraryDirectories=[/data/app/com.flutterbeaconexample-1/lib/arm64, /data/app/com.flutterbeaconexample-1/base.apk!/lib/arm64-v8a, /system/lib64, /vendor/lib64]]

[2019-09-01 15:15] potchara-msu opened #20 "Cannot scan new uuid after initialization"
Cannot scan new uuid after initialization. It only looks for the first uuid that added in to region list.

[2019-09-03 17:56] pandaen commented on #19
I've tried to run the example, on Huawei MediaPad M5(CMR-W09) Android 9 (API level 28)

[2019-09-04 07:30] pierrebateau commented on #19
For me the solution was to add the following to **example/android/gradle.properties**:

[code]

[2019-09-05 15:56] TheoZimmermann commented on #20
i have the same issue

[2019-09-20 09:04] mahmuttaskiran opened #22 "Ranging/monitoring a beacon when app was terminated"
Is it possible to monitor or rang a beacon when app work in background or terminated by the os? I can get monitoring events and ranging events when app is in foreground with this plugin. I tried to show a local notification for a right condition of beacons on background, but I could not.

flutter doctor

[✓] Flutter (Channel stable, v1.9.1+hotfix.2, on Mac OS X 10.14.6 18G95, locale en-TR)
[✓] And

[2019-09-21 14:51] alann-maulana commented on #22
Hi @mahmuttaskiran

Maybe this will work for you [AltBeacon/android-beacon-library#Android O ranging in background issue](https://github.com/AltBeacon/android-beacon-library/issues/771#issuecomment-438609313).
But this behavior (ranging beacons in background) will not work on iOS.

Yup, feel free to send PR 😄

[2019-09-23 09:59] atavci opened #23 "Example project Accuracy/RSSI values can't be acquired on iOS"
When I run the example project on iOS devices I can't see the Accuracy or RSSI values of the beacons that have been found. Accuracy is always -1.0. The example runs without any problem on a Galaxy S6 Android device (RSSI can be read correctly) but not on an iPhone 6 Plus or a 6th generation iPad. Any idea what might be causing this or can these values be reached from iOS? I've added a screenshot f

[2019-09-23 17:38] alann-maulana commented on #23
Hi @atavci

What iOS version do you use at your iPhone 6+?

[2019-09-24 07:50] atavci commented on #23
iPhone 6+ is at iOS version 12.4.1 and the iPad's version is at 12.4

[2019-10-03 11:21] doodii opened #25 "Catch with ios13"
flutterBeacon.initializeScanning catch and terminate with ios13. When i by pass this process app can work, But beacon.ranging don't work.

how can i fix it?

Thank you.

[2019-10-05 16:42] MapiFer opened #26 "Versions problem"
Hi, I was working with flutter_beacon: ^0.2.4 without any problem.

I change in my Android/build.gradle file the following:
     change kotlin_version from 1.2.71 to 1.3.0
     change gradle version from 3.2.1 to 3.3.2

now it gives me this message:

Running Gradle task 'assembleDebug'...
Note: D:\src\flutter\.pub-cache\hosted\pub.dartlang.org\flutter_beacon-0.2.4\android\src\main\java\com\flutter

[2019-10-06 02:22] alann-maulana commented on #23
Hi @atavci

Finally I can borrow some old iPhone 6 with iOS 12.4.1, fetching master branch..running example..and it is running well. Not publishing it yet to pub server.

![Example ranging result](https://i.ibb.co/vmF1xH0/Screen-Shot-2019-10-06-at-09-16-58.png)

Change your dependencies :
from
[code]
to
[code]

Hope it can help.

[2019-10-06 02:22] #23 closed

[2019-10-06 02:28] alann-maulana commented on #26
Hi @MapiFer

It's not a big deal to solving these warning, for now. As long it can still running without problem 😄I have using this little library for almost all of my projects, dozen of them.

If you found something trouble, error maybe. You can from change dependency from
[code]
to
[code]

Somehow I patching some little issue directly to master branch, without publishing to pub server yet. Or if

[2019-10-06 02:37] alann-maulana commented on #25
Hi @doodii

When you start using this library by executing `flutterBeacon.initializeScanning`, this will check

- `CBCentralManager.state`, if the state is not `CBManagerStatePoweredOn` then this will throw an [Exception](https://github.com/alann-maulana/flutter_beacon/blob/master/ios/Classes/FlutterBeaconPlugin.m#L227)
- But if your bluetooth is already on, then this will [request for authorizati

[2019-10-07 13:10] atavci commented on #23
Hello again, it looks like the beacons that I used before didn't support your plugin, I've tried with another iBeacon, now it works very well. Thank you for your help.

[2019-10-08 02:30] alann-maulana commented on #23
Great, you can send me PR to enable scanning for other beacon protocol device @atavci
It would be appreciated.

[2019-10-08 15:49] MapiFer commented on #26
Thanks a lot for your answer. I did continue working even with the warning, I was worry if maybe it could give me problems later.

[2019-10-11 19:24] MapiFer opened #27 "Changing to default when you go away from Beacon"
Hi,

I want to thank you for this great plugin.
I'm using it with great success, but I have a little problem:
I have a text that said "Unknow" while I'm away from any becon, and said some area name when I listen some beacon.
The problem was that when I go away after chnge the text from Unknow to the area name, it keep as  that area until I find another beacon. I want it to chnge back to unknow if

[2019-10-12 14:53] alann-maulana commented on #27
Hi @MapiFer

This is like my current issue from my project within past few months ago, this is happen especially in Android. I am solving it by saving the last detected timestamp of a beacon, then adding some threshold constant. So I will remove the beacon from a List only when the last detected timestamp past the threshold.

[code]

Call `updateBeaconIfEqual` after getting a ranging result on eac

[2019-10-13 23:43] MapiFer commented on #27
that ws great, it totally works for me.

[2019-10-13 23:43] #27 closed

[2019-10-19 12:13] santhoshraje opened #28 "Unable to run example app"
I have installed the plugin as specified on a new project on Android Studio and copied over the example app to my main.dart. Unfortunately I am getting the error below:

`The name BluetoothState isn't a type so it cant be used as a type argument`

at these lines:

`  final StreamController<BluetoothState> streamController = StreamController();`
`  StreamSubscription<BluetoothState> _streamBluetoot

[2019-10-22 02:09] alann-maulana commented on #28
Hi @santhoshraje

I'm using this library on my daily project, didn't found any issue regarding `BluetoothState`. Can you please send me your example project, so I can help you with it.

Thanks.

[2019-10-22 08:44] tomwyr opened #29 "Plugin crashes on location permission request"
In a specific scenario requesting location permission causes application to crash:
1. Open app for the first so user is asked to enable location by the system.
2. Call `initializeScanning` that also requests location permissions.
3. Second request returns a result with empty permission arrays that causes method call handler to throw an exception (see below).
4. When user grants/rejects permission

[2019-10-22 08:46] tomwyr commented on #29
I noticed that the issue doesn't seem to appear on current master branch. Do you plan to update the pub package anytime soon?

[2019-10-22 15:40] alann-maulana commented on #29
Hi @tomwyr

Thanks for your PR, like you said I'm already fixing it on master branch. For last couple of months, I am heavily using it on my projects. Sometimes I do a lot of breaking changes, add some functionality, fixing bugs, improving scanning process, making it easy to use and integrate within your flutter projects etc.

I hope I can publish it soon after finishing my current projects :D

[2019-10-25 10:29] alann-maulana commented on #25
Hi @AdnanKazi

My iPhone 6 stuck at iOS 12, can't upgrade it. Can you please debug and run it at Xcode and then please copy-paste the debug log here?

[2019-10-25 11:51] AdnanKazi commented on #25
sure will post it but first i need to know which other permission do i need to add in info.plist file may be the issue is about permission

[2019-10-25 11:59] AdnanKazi commented on #25
@alann-maulana I got the solution I haven't put the bluetooth permission in info.plist file

hi @doodii

just add following line in info.plist file your code will works fine.

`<key>NSBluetoothPeripheralUsageDescription</key>
   <string>need blutooth permission</string>
   <key>NSBluetoothAlwaysUsageDescription</key>
   <string>need blutooth permission.</string>`

[2019-10-25 14:09] alann-maulana commented on #25
Great @AdnanKazi

Thanks for your great information. I think there are new property list regarding Bluetooth usage starting iOS 13 [NSBluetoothAlwaysUsageDescription](https://developer.apple.com/documentation/bundleresources/information_property_list/nsbluetoothalwaysusagedescription)

I will add these required privacy on to README documents later.

[2019-10-25 14:09] #25 closed

[2019-10-26 21:10] MapiFer opened #31 "Serial number and battery"
Hi,

There are any way to have the serial number of a beacon?

There are any way to know how much battery does it have?

I want to send an alert when some beacon is lower in battery.

thanks in advance

[2019-10-27 02:47] guiassemany commented on #28
Same here!

I just created a new flutter project, added this dependency and If I try to run the example it, it shows the same error.

[2019-10-27 03:58] santhoshraje commented on #28
@guiassemany I think I did the same thing as you. I created a new flutter project, installed the dependencies and copied the code from the example main.dart to my own main.dart and got errors.

But when I download the zip file and run the provided example application, it works flawlessly. I am currently developing using the example application that was provided.

@alann-maulana unfortunately I del

[2019-10-27 06:27] alann-maulana commented on #28
Within `master` branch I do a lot of improvements and some breaking changes that doesn't publish it yet to the pub server. Can you change you `dependencies` if this is work for you?

[code]

[2019-10-27 08:03] alann-maulana commented on #31
Hi @MapiFer

This plugin is intended to scan for beacons that using **iBeacon** protocol nearby.  You can use this great plugin [flutter_blue](https://pub.dev/packages/flutter_blue) for connecting to device peripherals via bluetooth core api.

[2019-10-27 08:03] #31 closed

[2019-11-02 07:17] AdnanKazi opened #32 "Get all the beacons of all the region in IOS"
I can't detect all the regions that i want
for example i have 2 regions and i want to find it then i start ranging

`START RANGING=[{identifier=ibeacon, proximityUUID=99DF7F93-CB6E-4BB0-BE7F-335C373DC416}, {identifier=ibeacon, proximityUUID=B9BA7316-915A-449F-A8D3-512242D6A92D}]`

but the ranging result shows beacons available on last region.

`RangingResult{
"region": {"identifier":"ibeacon","pro

[2019-11-06 17:17] MapiFer opened #33 "Returning to the principal widget it don´t listen any more"
Hi,

I made a flutter app, it listen to the beacon and show me where I am. I add a couple of buttons to list all the areas and another funcionality. When I change the widget using Navigator.pushReplacementNamed and then I go back to my principal widget using the same function, the app stop listening the beacon.

I was trying to find out why, and I think the problem is in this call

await flutterBe

[2019-11-07 16:43] MapiFer commented on #33
Sorry, I solved. Just need to use push and pop instead pushReplacement

[2019-11-07 16:43] #33 closed

[2019-11-08 12:08] modernecotech commented on #22
Could you please post a short example of beacon monitoring when app is not running?

[2019-11-11 12:15] #32 closed

[2019-11-11 17:54] mahmuttaskiran commented on #22
Thanks, @alann-maulana. I have written a plugin for ranging and monitoring in the background for Android. On iOS I don't know if it is possible or not, I am not an expert on iOS. I have read some articles for possible iOS implementation but as far as I know, there are some restrictions for background execution especially for ranging.

[2019-11-12 08:24] #28 closed

[2019-11-13 12:15] modernecotech commented on #22
is it possible to have beacon monitoring in background, and when a beacon is detected for the app to start in background to do some work (maybe send a notification or whatever). Right now it only works for me when the app is either in foreground or background... but not if the app is not started by user.

[2019-12-05 10:26] cataCostea opened #34 "Missing files"
When adding the plugin in pubspec.yaml it downloads without the authorization_status.dart and bluetooth_status.dart. Now it can be used only as a local plugin or in combination with other plugins that provide the necessary for location and bluetooth permissions. Any fix for the missing files soon?

[2019-12-18 14:28] #29 closed

[2019-12-18 14:33] alann-maulana commented on #34
Hi @cataCostea

I don't know about missing files, but you can check [bluetooth_state.dart](https://github.com/alann-maulana/flutter_beacon/blob/master/lib/beacon/bluetooth_state.dart) and [authorization_status.dart](https://github.com/alann-maulana/flutter_beacon/blob/master/lib/beacon/authorization_status.dart) right at the `master` branch.

The last published version at pub server is not the lat

[2019-12-18 14:36] alann-maulana commented on #22
I use this library daily at all of my office projects. You can use the monitoring beacon method both for background and foreground mode.

[2019-12-18 14:47] alann-maulana commented on #22
Nice @mahmuttaskiran

I have some workaround too for enabling foreground ranging beacons on Android. But as far as I know, in iOS you can only extend it for maximum 3 minutes ranging in background. Here is nice article from David G. Young from RadiusNetworks [Extending Background Ranging on iOS](https://www.radiusnetworks.com/2018-11-19-extending-background-ranging-on-ios).

I using these techniqu

[2019-12-18 14:53] alann-maulana commented on #22
In Android you can extend your Flutter Application Class using these method [Detecting Beacons After App is Killed](https://altbeacon.github.io/android-beacon-library/resume-after-terminate.html). But, as you know there is always a limitation for iOS 😅

[2019-12-18 15:36] cataCostea commented on #34
Thank you @alann-maulana

[2019-12-19 04:17] alann-maulana commented on #34
You're welcome @cataCostea

Feel free to open a new issue if you find one 😁closing it now

[2019-12-19 04:17] #34 closed

[2020-01-03 18:40] JamesSwag opened #37 "Ranging Beacons"
Hello,

I'm new to flutter and I want to create a Beacon Scanning app, if I simply want to scan any nearby beacons and get their UUID do I use the ranging method?

[2020-01-05 06:17] alann-maulana commented on #37
Hi @JamesSwag

yes, you can use the ranging method to find nearby beacons. In Android you can find all beacons without UUD, but in iOS you must define at least a region with identifier and UUID as [example here](https://github.com/alann-maulana/flutter_beacon#ranging-beacons).

[2020-01-05 23:59] JamesSwag commented on #37
Thank You, however if I need to set an identifier and UUID for iOS wouldn't that be the same as just monitoring.

[2020-01-08 14:33] alann-maulana commented on #37
Yep, both ranging and monitoring beacons are using region as well..

[2020-01-09 01:26] JamesSwag commented on #37
Is there anyway I can monitor for multiple different regions each with a different UUID?

[2020-01-10 07:37] #22 closed

[2020-01-10 07:40] alann-maulana commented on #37
Of course you can @JamesSwag but FYI, the more region you put to ranging or monitoring beacons will slow down your phone. Especially on lower end and old phone.

[2020-01-15 14:28] vmichalak opened #39 "How to detect when beacon is out of range"
Hello,
I use flutter_beacon for a connected tag for luggage project.
I attempt to push a local notification when the beacon device is out of range but it seems not work.

[code]

In this case, i'm sure the local notification work but is never fired when i go away from my beacon. Do you have any idea to correct this issue ? Perhaps i don't understand the MonitoringEventType.

Thanks in advance,
Val

[2020-01-15 15:01] #37 closed

[2020-01-15 15:15] #39 closed

[2020-01-16 21:05] f1re opened #40 "Background Scanning"
Hi @alann-maulana,

is there any plan for integrating background monitoring ?

Thanks Alex

[2020-01-17 06:50] alann-maulana commented on #40
Hi @f1re

There is already a monitoring beacon, see at [https://github.com/alann-maulana/flutter_beacon#monitoring-beacons](https://github.com/alann-maulana/flutter_beacon#monitoring-beacons) that already running pretty well at background mode.

I've been used this little library at my daily projects.

[2020-01-17 06:51] alann-maulana commented on #39
Hi @vmichalak

It seems that you already solved your issue, great..

[2020-01-17 07:12] f1re commented on #40
Thanks for your quick answer! Indeed it does work in background (at least on android so far) nevertheless the flutter thread crashes after executing e.g. an intent action once an event is detected. Afterwards the monitoring continues running natively, but when trying to communicate with the
flutter thread it fails to communicate with the flutter side obviously. Any idea on that?

[2020-01-21 07:21] #40 closed

[2020-01-21 13:03] vmichalak commented on #39
Hi @alann-maulana ,
The problem is between keyboard and chair in this case. I start the monitoring two times and it causes some issues.
Sorry.

[2020-01-23 12:29] luisestudioalfa commented on #37
So, if i have 500 beacons, do i have to create a Region with 500 elements ( each with its uuid and identifier)? there is no way to group them, so the región only has one or some items?

For example monitoring all the beacons with uuid has 33333333-2222-1111-4444-XXXXXXXXXXXXX?

Where the XXX represents the identifier of the beacons, so that you don't have to define 500 regions?

[2020-01-25 20:32] Lohann opened #41 "Unhandled Exception: type 'int' is not a subtype of type 'bool'"
Hi, I'm getting this error message when starting the example application.

My Device:
- flutter_beacon `0.3.0`
- iPhone X on iOS 13.3
- Flutter 1.12.13+hotfix.5 / Dart 2.7.0
- Beacon Sensoro 4AA Pro

The example application didn't find the beacon, I'm migrating my native application to flutter, so I know the beacon is working properly.

[code]

[2020-01-27 03:39] renoinn commented on #41
fixed it.
https://github.com/alann-maulana/flutter_beacon/pull/38

wait release or using from master branch.

[code]

[2020-01-28 04:09] alann-maulana commented on #41
Thanks @renoinn, closed it

[2020-01-28 04:09] #41 closed

[2020-02-01 14:47] alann-maulana commented on #37
That's a huge amount of beacon btw @luisestudioalfa. One of my project, use almost a hundred of beacons. So instead of creating every region ranging for every beacons, I only scan the UUID only. When beacon(s) with current UUID, I will immediately filtered it using the existing major and minor of these beacons.

There are a powerfull search engine and a tons of article if you are curious about ran

[2020-02-01 19:20] JamesSwag opened #42 "Problem with Ranging Beacons after Initialization"
Hello, I seem to have a problem where I can't range new regions with new uuids. It ranges only for the initial uuid I set. I have tried canceling the stream then adding a new region to the list then subscribing again however it does not work and it only reacts to the initial uuid. I have my code below. As you can see the ranging method starts the stream. Then in the onPressed property of the secon

[2020-02-01 19:30] JamesSwag commented on #20
Hello, I have the same problem I tried the solution but it still didn't work. Have you gotten yours to work?

[2020-02-04 03:06] renoinn commented on #42
well, do u try setState?

[code]

or

[code]

[2020-02-04 12:56] JamesSwag commented on #42
Let me test it out then I will get back to you

[2020-02-04 13:20] JamesSwag commented on #42
No unfortunately it does not work.

[2020-02-04 16:22] isaiasmac commented on #17
I was having the same error, for hours trying to find a solution, and the solutions is simple add this to build.gradle

`implementation 'androidx.localbroadcastmanager:localbroadcastmanager:1.0.0'`

[2020-02-06 04:24] renoinn commented on #42
@JamesSwag
sorry, im wrong. flutterBeacon is caching `FlutterEventChannel` stream in flutterBeacon instance.
https://github.com/alann-maulana/flutter_beacon/blob/master/lib/flutter_beacon.dart#L137

[2020-02-06 05:14] renoinn commented on #42
I don't have any plan that fix this issue, cuz im not owner this plugin. One of user XD
But, you can fork this repository and fix these files if you need it.

pubspec.yml
[code]

flutter_beacon.dart

[code]

[2020-02-06 13:24] luisestudioalfa opened #44 "Scanning frequency"
Hi,

Is possible to modify de scanning frequency? the beacons that i'm using can advertise with faster intervals (100ms, 200ms, and so on). Is posible to modify the frequency at which the app does the scan so i can get more measurements?

Thank you!

[2020-02-06 13:34] JamesSwag commented on #42
I don't know anything about the inner workings of the plugin, so I wouldn't even know where to start.
However does the plugin work for you? Are you able to stream for new uuids?

[2020-02-10 09:49] renoinn commented on #42
This plugin can't restart different uuid. but you can fork and fix code.
Try change it yourself.

[2020-02-10 17:56] JamesSwag commented on #42
But I don't know how to.

[2020-02-19 08:38] snadal opened #45 "Background monitoring on Android"
Hi!

I’ve tried to enable background monitoring on Android, as suggested on #40 adding that to the example app.

However, as soon as app goes to background, it stops receiving zone changes.

Do I need to add intent or something special to Android app for background beacon detection to work?

Thank you!

[2020-02-25 02:01] rohnsht opened #46 "Cannot initialize flutterBeacon"
I am not able to initialise flutterBeacon after updating to latest version 0.3.0. Here is my log:
`[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: type 'int' is not a subtype of type 'bool'
#0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:321:13)
<asynchronous suspension>
#1      FlutterBeacon.initializeScanning (package:flutter_beacon/flutter_beacon.da

[2020-02-25 03:45] renoinn commented on #46
see this issue
https://github.com/alann-maulana/flutter_beacon/issues/41

[2020-02-28 10:37] alann-maulana commented on #20
Hi @JamesSwag

For now it's not possible to change the region scanning while it's already ranging or monitoring beacons. You need to stop the ranging or monitoring beacons first, then start again using new added regions.

[2020-02-28 10:40] alann-maulana commented on #17
Great catch @isaiasmac

I'll consider adding those line to README within FAQ parts 😄

[2020-02-28 10:46] alann-maulana commented on #44
Hi @luisestudioalfa

Yes it is possible, for Android. But not for iOS.

Android Beacon Library make it possible to change for both [foreground](https://altbeacon.github.io/android-beacon-library/javadoc/reference/org/altbeacon/beacon/BeaconManager.html#setForegroundBetweenScanPeriod(long)) and [background](https://altbeacon.github.io/android-beacon-library/javadoc/reference/org/altbeacon/beacon/Be

[2020-02-28 10:54] alann-maulana commented on #42
Hello,

Sorry a lot of busy lately on my office projects 😁

I have been solving this "caching `FlutterEventChannel`" for both ranging and monitoring some days ago. I hope I can commit and push it soon

[2020-02-28 10:57] alann-maulana commented on #45
Hi @snadal

What Android phone do you use? I use it at my daily office projects, some devices need to add some lines to enable background monitoring directly on Java/Kotlin code within Android project.

[2020-02-28 11:01] alann-maulana commented on #46
Sometimes I do a silly updates 😅

You can change your dependency:
[code]

I do a lot of fix, updates and maybe breaking changes there (branch `develop`)
I'll merge it to `master` when it is stable enough and publish it to the pub server

[2020-03-02 17:16] Marcoslima016 commented on #46
I have this error:

Git error. Command: git clone --mirror git@github.com:alann-maulana/flutter_beacon.git /Users/marcos/flutter/.pub-cache/git/cache/flutter_beacon-10eb7980ca62ae8c59eea4cf5d8ac5f5df114c6f
Cloning into bare repository '/Users/marcos/flutter/.pub-cache/git/cache/flutter_beacon-10eb7980ca62ae8c59eea4cf5d8ac5f5df114c6f'...

Host key verification failed.
fatal: Could not read from rem

[2020-03-09 07:53] #44 closed

[2020-03-09 07:54] alann-maulana commented on #46
Can you change the `url` to using https to `https://github.com/alann-maulana/flutter_beacon` and try to `flutter pub get` again?

[2020-03-12 08:54] snadal commented on #45
Hi Alann,

I am trying with a Pixel 2 and a very old Samsung Galaxy S4, among others.

Could you please share the lines on your Java / Kotlin code?

Thank you!

[2020-03-19 13:47] dducret opened #47 "Accuracy Calculation"
Hello,

Thank you very much for your work.

Could you make two changes in your code?

The first to have the value RSSI of type double with precision of 2 decimals.

The second to change the distance calculation (accuracy) http://stackoverflow.com/a/20434019

[code]

[2020-03-20 04:08] alann-maulana commented on #47
Hi @dducret

Why using these calculation? `flutter_beacon` use [Android-Beacon-Library](https://altbeacon.github.io/android-beacon-library/) to provide beacon scanning in Android. The author of these library is the same guy who replying on that stackoverflow link.

Please check the code about distance calculation here [https://github.com/AltBeacon/android-beacon-library/blob/master/lib/src/main/ja

[2020-03-20 04:08] #47 closed

[2020-03-25 20:16] snadal commented on #45
Hello,

Would you mind to share the lines you used to enable background monitoring on Android?

Thanks!

[2020-04-06 05:50] wescarr commented on #45
I'm having the same issue and don't get monitoring events on either Android or iOS when the app has been terminated. I see that the https://pub.dev/packages/beacons package has support for background monitoring but it looks like it's been abandoned and no longer works properly...

[2020-04-06 06:12] alann-maulana commented on #45
Hi, sorry for delaying response..

In Android, I'm implementing `BootstrapNotifier` on my custom `Application` class. I set the region without UUID, major or minor. So when it detect beacon it will trigger the app to start again. Don't forget to make your `MainActivity`'s `android:launchMode` to `singleInstance`.

In iOS, from Estimote community :

Please read the full article [here](https://commu

[2020-04-06 14:55] wescarr commented on #45
@alann-maulana Thanks for your response. Do you have any plans to provide some more concrete code examples for both platforms? I'm unfortunately pretty new to native app development, and while I have a decent grasp of Flutter, my knowledge doesn't extend much beyond that. I do appreciate the pointers in the right direction.

[2020-04-07 14:57] darshithedpara commented on #45
@alann-maulana  I am also stuck in **beacon-scanning** for Android and IOS while app is in background.
Can you please make one example like this https://pub.dev/packages/beacons package.

[2020-04-14 21:50] mike-robinson commented on #46
I still get the error after getting your development code from git.

`2020-04-14 14:48:41.093388-0700 Runner[1053:265466] [VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: type 'int' is not a subtype of type 'bool' in type cast
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:156:41)
<asynchronous suspension>
#1      MethodChannel.invokeMethod (package:f

[2020-04-15 10:46] AamirSk commented on #46
I tried this but still getting an error on iOS.  For temporary I have replaced your code as below which works fine. But I need to handover my code to client shortly so on his machine pub get will create an issue again.... Can u plz look into this? ,

// $$$ TEMP HACK $$$ //
`Future<bool> get initializeScanning async {
  if(Platform.isAndroid)
    return await _methodChannel.invokeMethod('initializ

[2020-04-17 10:26] dariocavada opened #48 "Beacon Info when Monitoring"
Would be useful to obtain the beacon Info when I use monitoring feature.
In the result I've
- type
- status
- region (the region identifier and proximityUUID)

I need also major and minor info to understand What beacon is calling me (Like in Ranging feature).

[2020-04-17 10:34] dariocavada opened #49 "Example with Local Notification"
Beacons are usually used to warn a user when he is near a point of interest.
Is it possible to have an example of how to use the library with notifications?

Android Beacon Library did this example:
https://github.com/AltBeacon/android-beacon-library-reference/blob/master/app/src/main/java/org/altbeacon/beaconreference/BeaconReferenceApplication.java

[2020-04-22 14:17] santhoshraje commented on #48
Good idea. I'm using ranging right now only because it gives me the major and minor of the beacon and monitoring does not.

[2020-04-24 19:28] newbieflutter opened #53 "Only indentifier not working for IOS"
Hi,
   I have used this same function for android and it works fine. But on IOS it seems not working. I never specified any UUID is cause I want to scan any UUID within the identifier: 'com.example.myDeviceRegion',      ? How to achieve that in IOS ?

  initScanBeacon() async {
    await flutterBeacon.initializeScanning;
    await checkAllRequirements();
    if (!authorizationStatusOk ||
        !

[2020-04-28 06:18] huitingyeong opened #55 "Unable to detect Android devices"
Hi, I used the plugin and the example code provided.
My iOS device is able to detect other iOS device. Android can detect iOS devices.
But both iOS and Android are not able to detect Android devices.

Any idea why?

[2020-04-28 08:58] fluff commented on #53
iOS requires you to specify a list of UUIDs to scan for. There is simply not a public API in the iOS SDK that allows scanning for "all" UUIDs. See also https://stackoverflow.com/questions/34450371/how-to-scan-available-beacons-in-my-region-ios

[2020-05-05 08:28] DRSchlaubi opened #57 "Add ability to restart monitoring or update regions"

[2020-05-05 15:38] alfin87aa opened #58 "Get Mac Address iOS"
Hi,

I have managed to differentiate beacons from one another with the same UUID on Android with Mac Address, but on iOS it can't get a Mac Address beacon, is there another method to distinguish beacons with the same UUID, Thank you very much for your great work.

[2020-05-06 07:01] dariocavada commented on #58
Yes,
each iBeacon has a **major** and **minor** code.
You can use those codes to distinguish beacons.

[2020-05-06 07:12] dariocavada commented on #55
What is meant by "detect" other devices?
Has a beacon simulator been activated on other devices?
Can you indicate an example of the test you did and the versions of iOS and Android used?

I don't know if the requested functionality matches the functionality of this package which is to locate just **iBeacons**.

[2020-05-06 07:17] dariocavada commented on #53
This plugin uses **CoreLocation** for beacon detection for iOS and this is the limitation.
A list of of **UUIDs** to scan for is required.

https://developer.apple.com/documentation/corelocation/clbeacon

[2020-05-06 07:22] dariocavada commented on #48
Would be good, but I think is a limitation of the underlying API.

Probably the correct approach is:
1) activate **monitoring** to see if there are beacons with that UUID
2) when there is some beacon, activate the **ranging** to understand which beacon it is (major & minor).
3) When the **monitor** then notifies that there are no more beacons in the range, stop **ranging**.

All this to save batte

[2020-05-06 07:26] dariocavada commented on #46
I think the version **1.0.10** solves this problem.
In you **yaml** file:
`  beacons_plugin: ^1.0.10 `

[2020-05-06 13:19] alfin87aa commented on #58
Hi @dariocavada,

thanks for your help, i want asking how to change major or minor code of iBeacon in flutter, I tried searching but couldn't find it.

[2020-05-06 13:30] dariocavada commented on #58
You cannot change major minor of iBeacon in flutter.

You have to change your iBeacon (major & minor) with a dedicated App.

For example I use BlueUp Beacons and in order to setup major/minor for that beacon I use the BlueApp Manager App.

https://www.blueupbeacons.com/index.php?page=managerapp

This procedure depends a lot on what brand of beacon you use.

[2020-05-11 12:13] AlirezaDaryani opened #59 "Background monitor in android"
Hi, i want get ibeacon uuid , major and minor when app killed.
Its work on ios so good and no problem there.
But, in android, app can not get data in monitor region method.
I tried to reopen app or resume ranging stream when monitor received data, but there is no data.

Any Help?

[2020-05-11 16:39] fluff commented on #57
Sounds like my pull request in https://github.com/alann-maulana/flutter_beacon/pull/50 would fix this issue.

[2020-05-11 19:03] DRSchlaubi commented on #57
Yes thanks for the pr m8

[2020-05-13 09:48] AlirezaDaryani commented on #45
Hi,
I have no issue in ios when app terminated and its work great.
But, in android ,app can not scan beacon when terminated.
any solution?

[2020-05-16 01:31] is10vmust commented on #59
Hi @AlirezaDaryani i know i'm not benefit you i hope that , but can you please provide me the method you use it to run the app in IOS after killing the app

and about android the only way after reads much articles is this lib. using native code :
https://altbeacon.github.io/android-beacon-library/documentation.html

many thanks 👍

[2020-05-17 08:15] AlirezaDaryani commented on #59
Thanks for your response ,
Actually I’m working on native in android side.
In IOS side, i just use monitoring and ranging with location always permission, after get right beacon, show local notification.
there is no specific code for IOS.

[2020-05-29 18:34] ammarmahafeza opened #60 "Scan beacon after killed the app iOS"
When I killed the app the app stop scan the beacon  how can solve this problem on iOS

[2020-06-06 09:11] AkshayNG commented on #55
The package is for detecting iBeacon only. So you need to turn your android device into iBeacon using :

if(Platform.isAndroid) {
      beaconBroadcast.setLayout('m:2-3=0215,i:4-19,i:20-21,i:22-23,p:24-24')
          .setManufacturerId(0x004C);
}

where beaconBroadcast is an instance of [BeaconBroadcast]( https://pub.dev/packages/beacon_broadcast)

[2020-06-06 10:13] AkshayNG opened #61 "Ranging iBeacon in background"
Hi @alann-maulana, thanks for the library to make iBeacon detection easy and so our life :)

I'm trying to range the iBeacon as:

[code]

I've tested this with 2 android devices. Its working fine when the app is in foreground, but I'm not getting notification when app is in background.

I was reading other issues and found your line: "some devices need to add some lines to enable background monito

[2020-06-06 12:10] AkshayNG commented on #61
**Update:**

I can see one of the two of my devices can range the beacon, but other device can't. So as @alann-maulana said - "some devices need to add some lines to enable background monitoring .." is correct. But not sure what are those magical lines. I'm off the android development.

[2020-06-06 13:05] AkshayNG commented on #61
**Update 2:**

As per [documentation here](https://developer.android.com/about/versions/oreo/background-location-limits),  Android 8.0+ (API level 26)  can receive location updates only a few times each hour.

[2020-06-07 07:41] ammarmahafeza opened #62 "are this plugin support beacon accelerometer sensor ??"
hello everyone after more than 3 months using this plugin and I thanks all who has develop it , I need to get the accelerometer xyz data are that possible and if i have an sdk with native how can I handle that with this plugin ....

thanks

[2020-06-07 12:58] colourdelete opened #63 "`FlutterBeaconPlugin.java` uses or overrides a deprecated API"
The following note is displayed when using the plugin:

`FlutterBeaconPlugin.java` uses or overrides a deprecated API.

![DeprecatedErrorScreenshot](https://user-images.githubusercontent.com/45807097/83969160-4ee1b200-a89c-11ea-82ac-d9ae78694fd1.jpg)

[2020-06-08 21:13] toniree opened #64 "Example App Unable to Install on iPhone"
Hi, I wanted test out the library using the Example app on my iPhone, but while deploying the example via XCode after cloning the repo, seems like a directory dependency is not met:

ld: warning: directory not found for option '-L/Users/tree/flutter_beacon/example/build/ios/Debug-iphoneos/flutter_beacon'
ld: warning: directory not found for option '-L/Users/tree/flutter_beacon/example/build/ios/De

[2020-06-08 23:50] #64 closed

[2020-06-14 03:36] jjakob666 commented on #55
You could edit the FlutterBeaconPlugin.java to add support for Altbeacon and eddystone beacon like so:

  public static final String ALTBEACON_LAYOUT = "m:2-3=beac,i:4-19,i:20-21,i:22-23,p:24-24,d:25-25";
  public static final String EDDYSTONE_TLM_LAYOUT = "x,s:0-1=feaa,m:2-2=20,d:3-3,d:4-5,d:6-7,d:8-11,d:12-15";
  public static final String EDDYSTONE_UID_LAYOUT = "s:0-1=feaa,m:2-2=00,p:3-3:-41,i:

[2020-06-14 03:53] jjakob666 commented on #55
This doesn't work on Android. Fails to broadcast the beacon.  The best is to fix flutter_beacon to accept and detect/range AltBeacons so it works with beacon_broadcast. See my post above for the fix

[2020-06-14 07:07] AkshayNG commented on #55
Not sure whats wrong, broadcasting is working fine my side. But I'll try out the solution you suggested. Also would it range the beacons in background for android 8.0+ ? I'm facing https://github.com/alann-maulana/flutter_beacon/issues/61. Please help @jjakob666

[2020-06-14 07:41] jjakob666 commented on #55
The two devices I have (Amazon FireHD tablet) and my samsung S9  don't have
an issue. no special code needed,  I switch to another app and the data
still comes in.

Regards,

Jason G Jakob
j.evolutia@gmail.com
Cel: 1- 519-841-8617

On Sun, Jun 14, 2020 at 3:07 AM Akshay Gajarlawar <notifications@github.com>
wrote:

[2020-06-14 07:43] jjakob666 commented on #55
Also I run BeaconScope, and it can pickup the beacons coming from both my devices even when I'm playing video on both devices.

[2020-06-14 07:46] jjakob666 commented on #61
BTW here is the function to calculate distance.

    double rssiVal = rssi.toDouble(); //convert to positive double

    //MeasuredPower is a constant defined by the manufacturing of the device
    //also known as the 1 Meter RSSI
    //-69 (for kontakt BLE beacons)
    double measuredPowerConstantDeviceManufacturer = -69;

    //N constant depends on the Environmental factor. Range 2-4
    double

[2020-06-14 08:22] AkshayNG commented on #61
@jjakob666 Hi, thanks for distance calculation code, but I'm looking out for the way to keep my app ranging beacons in background as in foreground:

[code]

[2020-06-14 08:28] AkshayNG commented on #55
an issue. no special code needed,  I switch to another app and the data
still comes in.

In my test, the beacons are being detected in background for just few minutes (not more than 5 min.), this is due to restrictions laid by android from version 8.0+.

[2020-06-14 18:12] SimeonVSimeonov commented on #58
If you step into class Beacon, you'll see this

/// Class for managing Beacon object.
class Beacon {
  /// The proximity UUID of beacon.
  final String proximityUUID;

  /// The mac address of beacon.
  ///
  /// From iOS this value will be null
  final String macAddress;

  /// The major value of beacon.
  final int major;

  /// The minor value of beacon.
  final int minor;

  /// The rssi value

[2020-07-09 07:54] j04ntoh opened #65 "doesn't work on ios 13"
managed to run on iphone but it stuck on loading screen.
Bluetooth icon enabled only when 1st installed.

[2020-07-17 01:17] mdanics commented on #32
Did you find a solution to this @AdnanKazi ?

[2020-07-17 03:57] AdnanKazi commented on #32
@mdanics Does this problem still occurring ?
I had found this plugin was not working in ios properly i had change platform I have created that project in React Native
Sorry I can't help may be in future someone can fix it till that we need to manage.

[2020-07-23 23:49] mdanics opened #66 "Calling initializeAndCheckScanning a second time on iOS hangs"
I have `await blutterBeacon.initializeAndCheckScanning` in my main widget's initState()

On iOS (13.3) when I do a hot restart, and it reinitializes, the code hangs on the call. No errors.

Has anyone experienced this?

[2020-07-29 17:36] doggo4242 commented on #65
same issue, problem appears to be requesting location permissions, however after implementing this in the sample, it was still stuck on the loading screen.

[2020-07-29 18:29] DRSchlaubi opened #67 "Migrate to flutter android v2 embedding"
More and more plugins start only supporting v2 embedding causing to not work since this plugin forces you to use v1 embedding.
https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration

[2020-08-05 10:15] danwood76 commented on #65
Running the 0.3.0 release doesn't work on iOS13, however running the latest version from git does!

[2020-08-07 13:36] Emily-li1999 opened #68 "how edit this github package code to do monitoring"
how edit this github package code to do monitoring(I want to know whether enter or exist this beacon )in flutter?

[2020-08-08 03:26] doggo4242 commented on #65
Thanks, that worked! I think this issue can be closed now.

[2020-08-10 03:40] #65 closed

[2020-08-10 03:43] alann-maulana commented on #68
Hi @Emily-li1999

There is already monitoring method for beacons https://github.com/alann-maulana/flutter_beacon#monitoring-beacons

If you intended to add other functionality to this little package, you can start by inspecting `ios` and `android` folder containing the native code.

[2020-08-10 03:43] #68 closed

[2020-08-10 03:44] alann-maulana commented on #67
Hi @DRSchlaubi

I hope I can migrate this package soon. It really nice to get some little help to migrate it :)

[2020-08-10 03:47] alann-maulana commented on #66
Hi @mdanics

Di you already solve you problem? My iPhone 6 stuck at version 12.4, so I can't help much right now.

[2020-08-10 03:50] alann-maulana commented on #32
TLDR; No, you cannot scan all UUID on iOS like Android do.

Check an answer from David G. Young from StackOverflow here https://stackoverflow.com/a/37165388/3733730

[2020-08-10 03:52] alann-maulana commented on #58
No, you can't get mac address of beacon from iOS platform. Check this stackoverflow thread https://stackoverflow.com/questions/30722263/how-to-get-mac-address-of-beacon-when-ranging-and-monitoring-in-ios

[2020-08-10 03:52] #58 closed

[2020-08-10 03:55] alann-maulana commented on #63
It will still run, I'm using this library on my daily office projects. But, I'll update it to match the latest API while still maintain backward compatibilty for older version of Android.

[2020-08-10 03:58] alann-maulana commented on #62
Hi @ammarmahafeza

Currently I'm buliding this library for scanning beacon with iBeacon protocol only for both Android and iOS. If you intended to add new functionality it would be great :)

Thanks

[2020-08-10 03:58] #62 closed

[2020-08-10 03:59] #53 closed

[2020-08-10 04:02] alann-maulana commented on #60
hi @ammarmahafeza

We are doing a lot of research for overcoming these issue on iOS. But sorry, I can post the solution here. I'll give you a good starting point https://github.com/opentrace-community/opentrace-ios/issues/4

Hope this helps.

[2020-08-10 04:02] #60 closed

[2020-08-10 04:05] alann-maulana commented on #59
If any one of us can help me migrating this library #67 it would be greate :)

[2020-08-10 04:06] #59 closed

[2020-08-10 04:06] mdanics commented on #66
I have not solved this problem. Further, if I call `blutterBeacon.initializeAndCheckScanning` multiple times in the app (without hot restarting) it also hangs on the second time.

I have architected the app around this limitation, and in development, I have to rebuild instead of hot restart.

[2020-08-10 04:12] alann-maulana commented on #48
It's a nice solution too. But for us, we use region of beacon with format like `UUID#major#minor` then when it come to entering or exiting region, we can get the complete parameters of beacon by splitting region with `#`. Simple!

[2020-08-10 04:12] #48 closed

[2020-08-10 04:13] alann-maulana commented on #45
maybe by migrating it to v2? #67

[2020-08-10 04:14] #42 closed

[2020-08-10 04:30] AdnanKazi commented on #32
Thats right

[2020-08-10 04:33] alann-maulana commented on #66
Maybe some status check for bluetooth state, location permission etc before re-calling `initializeAndCheckScanning ` again will be helpful.

[2020-08-10 12:32] ammarmahafeza2 opened #69 "problems while ranging in ios and huawei devices"
im using this plugin on my project to detect ble device and its worked with me in all type of devices except huawei devices and some of ios , before that ios and huewai was work on it but today i open it to test and, that what i got :
[code]
please help i dont know whats going on everythings in there place

many thanks

[2020-08-26 19:16] omerchen commented on #45
+1

@alann-maulana I'll glad to help you to migrate but my android native knowledge is pretty basic. :(

[2020-08-26 19:19] omerchen commented on #67
@alann-maulana How does it progress? Do you expect to complete the migrating soon? Is there anything I can help with?

[2020-09-02 09:03] renoinn commented on #49
i was using [flutter_local_notifications](https://pub.dev/packages/flutter_local_notifications) for notification to user.

[2020-09-07 08:25] dingzuhua opened #70 "Beacon or Eddystone"
Beacon or Eddystone？

[2020-09-11 12:25] saqib556612 commented on #61
I am not detecting the iBeacon can you please provide the code to detect the ibeacon packet that is coming from esp32 Bluetooth low energy device

[2020-09-16 23:45] fgarciaDev opened #71 "Enhancement Request: Monitoring Example"
Request to include beacon monitoring example and how to execute code when app is backgrounded or not running. The example for ranging is pretty detailed. Would love to get a good example for monitoring. Thanks!

[2020-09-23 23:51] Marcoslima016 commented on #45
Hello @alann-maulana, could you take some doubt on how is implemented the bootstrap notifier? 
I'm not sure how to use my custom application class. Should I use the FlutterApplication that comes set on android:name? or  should I create another class and then set this new class on android:Name? I appreciate your numerous help with the community. Your package and explanations have saved me several t

[2020-09-29 00:37] ebjerkelund opened #72 "I have added Eddystone and filtering to a fork. Interested in pulling back in?"
I have added the ability to monitory Eddystone beacons to the ranging functionality. My use case was that the Estimote beacons support both iBeacon and Eddystone UID broadcasting. I was looking to use the Eddystone option as it provides more usefull accuracy (distance) info.

I have also added the ability to pass in the choice to monitor for eddystone, altbeacon/ibeacon, or both. And I have also a

[2020-09-30 12:51] Ollie-spoon opened #73 "Sample app given in repo cannot detect iBeacon next to Android phone."
I've been trying to use your library to detect beacons nearby in an app and have bought an "Avvel" iBeacon that I have set up and can detect using the "BLE Scanner" app from the google play store. I made sure to allow location tracking, as well as having a constant wifi connection and having my Bluetooth on. It just doesn't pick it up and by that, I mean that I have a spinning circle in the middle

[2020-10-01 20:39] Marcoslima016 commented on #45
Hi,  after a few attempts I managed to implement the Custom Application class with bootstrap notifier. I'll try to make an explanation to help those who are having difficulty in this part. As soon as there's a time left, I'll post an example on github to make it easier to understand.

**1. In the AndroidManifest file, you must modify the "android:name" parameter.**

By default it is set to Flutter

[2020-10-03 12:24] DRSchlaubi commented on #71
monitoring when the app is not running is not supported even if the readme suggests it does
in order to run without the app you would need a background service starting automatically when the app starts which is currently not implemented in this plugin

[2020-10-03 18:01] saqib556612 opened #75 "Exception: The plugin flutter_beacon could not be built due to the issue above."
When i execute flutter run --release on android it gives me build failed with this error.

apple@Apples-MBP key2access % flutter run --release
Launching lib/main.dart on Infinix X650C in release mode...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':vibrate:verifyReleaseResources'.

     /Users/apple/.gradle/caches/transforms-2/files-2.1/a528b13ac93e64caf

[2020-10-03 18:18] DRSchlaubi commented on #75
Could you run again with `-v` and submit the log to github gist?

[2020-10-03 18:33] saqib556612 commented on #75
When i connect with real device and executed with flutter run -v its working fine.

[2020-10-03 18:35] saqib556612 commented on #75
and i need one more information i am sending a advertising packet from my Bluetooth low energy device and catching it in flutter app but its working perfect with Ios but on android sometime it didn't catch that specific packet.
can you please help me out on this?

[2020-10-03 18:39] saqib556612 commented on #75
build fails when i execute flutter run --release

[2020-10-03 18:41] DRSchlaubi commented on #75
-v only enables verbose logging shouldnt change anything

[2020-10-03 18:43] saqib556612 commented on #75
so what is the solution ?

[2020-10-03 18:44] DRSchlaubi commented on #75
I still don't have the output of building with -v

[2020-10-03 19:01] saqib556612 commented on #75
apple@Apples-MBP key2access % flutter run -v
[ +236 ms] executing: [/Users/apple/Developer/flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +83 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[   +1 ms] d408d302e22179d598f467e11da5dd968dbdc9ec
[   +1 ms] executing: [/Users/apple/Developer/flutter/] git tag --points-at HEAD
[ +210 ms] Exit cod

[2020-10-10 20:11] EricHier commented on #73
I've exactly got the same problem. Did you solve it?

[2020-10-22 19:23] DRSchlaubi commented on #61
Can someone provide a full example of how to implement this or update the apps actual example

[2020-10-29 17:33] j04ntoh commented on #73
i'm not detecting any beacons on android. It's working fine on iOS.

[2020-10-30 00:35] j04ntoh commented on #67
@DRSchlaubi upgrade to v2 fix the beacon not showing in android?

[2020-10-30 06:11] DRSchlaubi commented on #67
Which beacons do you mean?
I can range and monitor iBeacons but don't have any other beacon type and think they probably don't work.
Could you tell me which beacons you need

[2020-10-30 08:18] j04ntoh commented on #67
Hi @DRSchlaubi
I'm using this http://item.taobao.com/item.htm?id=39098735081 beacons. i noticed on stackoverflow, many people are facing this issue too.

[2020-10-30 08:33] j04ntoh commented on #73
<img width="1680" alt="Screenshot 2020-10-30 at 4 30 37 PM" src="https://user-images.githubusercontent.com/284813/97677603-76e0e480-1acd-11eb-9b67-cac971b2b8d0.png">
i have 2 copies of flutters. 1 working, the other is not. can it be compileSdkVersion?

[2020-10-30 08:48] j04ntoh commented on #67
<img width="1680" alt="Screenshot 2020-10-30 at 4 30 37 PM" src="https://user-images.githubusercontent.com/284813/97678927-8cefa480-1acf-11eb-8bbf-f94514d415bc.png">
I found the issue already. it's the compileSdkVersion. Looks like it's working with compileSdkVersion 28.

[2020-10-30 10:42] DRSchlaubi commented on #67
Why is it set to 29 anyways was supposed to be 30.
Anyways as you did not provide me an error message I am guessing the problem you had the wrong sdk version installed. As Android 11 got released you should use API Level 30 so instead of decreasing the compile ask you increase it to the latest which is 30 und Download the corresponding sdk version using Android studios sdk manager

[2020-10-30 10:44] DRSchlaubi commented on #67
Or the other thing could probably be permission changes on Android 10 you can read more on that from the altbeacon authors here: https://stackoverflow.com/a/58061583

[2020-11-02 02:36] j04ntoh commented on #67
@DRSchlaubi there's no error messages. Changed it to 30, it didn't work. Only works on 28. You doesn't face any issues?

[2020-11-02 06:34] j04ntoh commented on #67
@DRSchlaubi I'm new to flutter dev. but probably the android 10 issue. Thanks for the heads up.
It's kinda confusing on the upgrading to android 10.

[2020-11-02 07:08] DRSchlaubi commented on #67
I think you should be fine by adding the permissions from the stack overflow j gave you to you manifest

[2020-11-11 07:43] uzuraegg commented on #73
I was facing the same problem but solved it. If you are using the sample app as is, you need to change the regions in the sample code properly.

[2020-11-20 13:07] indigoswann commented on #70
i have more success with eddystone, can read between iOS devices but not android yet

[2020-11-26 18:15] TamojitSaha commented on #73
@uzuraegg I am having the same issue as above. Can you please share your modification with detail?
I am a beginner in the Flutter world.

[2020-12-06 12:31] paolorotolo opened #76 "Allow to customize scan period on Android"
Hi! Thanks for your work.
AltBeacon, on which this plugin is based on for the Android part, allows developers to customize the duration of the bluetooth scan period.

This is done with the method `setForegroundScanPeriod(long p)`

It would be nice to expose this optional settings to the Flutter side, so the plugin could support more uses cases.

[2020-12-28 20:51] zachisit opened #79 "Beacon detects successfully on physical device, but not in Android Emulator"
The title says it all. I'm able to successfully see beacons when I compile to a physical device, but when I run the code on the Android emulator via VSCode it doesn't show any beacons. I'm not seeing any issues with this topic, so not sure if this is something obvious I'm missing or not. Any help would be greatly appreciated.

[2021-01-05 01:55] evanblasband opened #80 "BUG: FlutterJNI was detached from native C++"
Everything seems to work on both platforms except for android when app is stopped.
I will be monitoring and scanning for iBeacons with the app open and see prints successfully, however once I completely close the app I get the following print error
[code]
then once I bring the app back it works again.  Has anyone else experienced this?

[2021-01-06 02:41] evanblasband commented on #45
@Marcoslima016 I am facing the same issue, any update on whether you have posted that example somewhere?

[2021-01-06 19:11] jacobmealey commented on #73
Hello, I am also experiencing this issue, though I am not sure what to change the ranging to, I have tried changing the range to blank screens in hope that it just detect all beacons or something. when using the android-beacon-library by altbeacon I also had to add :
[code]
in order to get the beacon to be detected, is there something similar for this library I should try?

P.S. @uzuraegg what did

[2021-01-27 17:35] MtPython commented on #67
I've had the issue with no beacons getting detected on my Android device using the example code, luckily found @j04ntoh 's screenshot — changing the _compileSdkVersion_ and _targetSdkVersion_ from 29 to 28 worked.

I'm also new to flutter, and a new project created by flutter 1.22.5 defaults to _SdkVersion_ 29, and I'd say it's pretty hard to figure out this issue by yourself.

@DRSchlaubi

Thanks

[2021-01-28 10:46] MtPython commented on #79
Likely using the plugin requires a physical bluetooth module, I wouldn't account for using emulators here.

[2021-01-28 10:52] MtPython commented on #73
It could be the [issue](https://github.com/alann-maulana/flutter_beacon/issues/67#issuecomment-719425702) with the *...SdkVersion* 29+, currently the master branch seems to work with version 28 only.

You could also add support for you exact type of beacon as mentioned [here](https://github.com/alann-maulana/flutter_beacon/issues/55#issuecomment-643713214) as a reply to @jacobmealey

I'd also reco

[2021-02-08 11:29] yarmenteros opened #81 "AndroidRuntimeException returned when Location is off"
A **AndroidRuntimeException** is thrown when _ranging_ if Location permission is granted but it's off/disabled.

Android Version: 11
Device: One Plus 7
Plugin Version: 0.3.0

## Error Logs

E/MethodChannel#flutter_beacon(13574): Failed to handle method call
E/MethodChannel#flutter_beacon(13574): **android.util.AndroidRuntimeException**: Calling startActivity() from outside of an Activity  context

[2021-02-19 07:43] j04ntoh commented on #67
sdk28 cannot be use for release app to play store. anyone can help on this issue?

[2021-02-19 17:04] azim92 commented on #81
1) Open Android Module from your main project.
  `Project > Right Click > Flutter > Open Android module in Android Studio`
  ![Untitled](https://user-images.githubusercontent.com/30527495/108536076-f9104580-7316-11eb-9f5e-d90e4a0210cf.png)

2) Expand flutter_beacon and open FlutterBeaconPlugin.java
  ![Untitled2](https://user-images.githubusercontent.com/30527495/108536169-1513e700-7317-11eb-8042-

[2021-02-28 13:14] Marcoslima016 commented on #45
hi @evanblasband, soon I put a complete example of an Android application working in the background. I'm busy, but I'm going to have some time to do it soon.

[2021-03-09 09:18] abauer-inovex opened #82 "Android: Making it possible to set the notification icon specifically"
Hi,
first of all, thanks for the package it has been really helpful. 👍

Right now I am facing one problem using it on Android. As far as I can see the App Icon is used hardcoded as the notification icon when the background service is started.
This leads on current Android versions to the problem that it isn't shown correctly. The effect that is described here:
[Link to Medium](https://medium.com/a

[2021-03-10 09:38] PeterPoll opened #84 "Target file "lib\main.dart" not found."
Hello, how i should start run this project ? there is no main.dart file

[2021-03-10 09:45] renoinn commented on #84
this project is package project for flutter. not exist "lib\main.dart".
you can run "example/lib/main.dart" to start example app.

[2021-03-10 09:47] PeterPoll commented on #84
Ok, I have some beacons and I'm trying to find a simple project (app) where i can receiving notifications. Is this app for this reason?

Thank you!

[2021-03-10 09:56] renoinn commented on #84
this is plugin project, not app. the plugin can detect beacons, but does not provide notification.
if you have Android, you can use "nRF Connect" app to detect beacons.
https://play.google.com/store/apps/details?id=no.nordicsemi.android.mcp&hl=ja&gl=US

[2021-03-10 09:58] PeterPoll commented on #84
Thank you. Now things is little more clear.

So this app (on Android) is already exist to detect beacons ?

Is there any way to create an app with flutter to detect beacons ?

[2021-03-10 10:13] renoinn commented on #84
you can use flutter_beacon plugin for detect beacons in your flutter app.

[2021-03-10 10:15] PeterPoll commented on #84
Do you know any demo of this ?

I found 2 on github but I can't startet because they doesn't have also main.dart.

Bellow is the links of this 2 github demos. I think is for this reason beacuse using flutter_beacon. Confirm that please.
https://github.com/loup-v/beacons
https://github.com/alann-maulana/flutter_beacon

[2021-03-11 10:18] PeterPoll commented on #61
Hello can you povide a full source code? I'm looking 3 weeks for an app that receives notifications from a beacon device!

Thank you!

[2021-03-12 04:38] jjakob666 commented on #61
Good luck. could never get it to work as a service for more than 2-3 hrs.
Especially IOS, power saving features turns things off.

Also had a hard time getting it approved with app stores. Both Android and
Apple are leary about using BLE for contact tracing.

Regards,

Jason G Jakob
***@***.***
Cel: 1- 519-841-8617

On Thu, Mar 11, 2021 at 5:19 AM Peter Pollakis ***@***.***>
wrote:

[2021-03-12 06:56] PeterPoll commented on #61
What you mean exactly ?

Do you have some code which works to help me please ?

Thank you!

On Fri, 12 Mar 2021 at 06:38, Jason Jakob ***@***.***> wrote:

[2021-03-12 10:36] PeterPoll commented on #79
Hello, I'm trying to do this to run correectly but my app can't recognize the beacons.
At the beacon list where parse the result of scanning the forEach doesn't work correct but I can't understand why.

Can you provide me your source code that working please? My email is pollakis.p6@gmail.com.

That will save many hours for me :)
Thank you very much!

[2021-03-12 10:59] PeterPoll commented on #73
Hello, I have the same problem but I didn't find any solution. Can anyone send me here code which works to check it ? Thank you very much! My email is pollakis.p6@gmail.com

[2021-03-12 20:43] j04ntoh commented on #73
@PeterPoll It was mentioned in one of the threads that pub.dev plugin is old. You needa use the github version and upgrade your sdkversion to 30.

[2021-03-12 20:50] PeterPoll commented on #73
What you mean exactly "use the GitHub version" ? Can you provide me an example? Sorry but new on all of this.

[2021-03-12 21:25] j04ntoh commented on #73
@PeterPoll

pubspec.yaml
  flutter_beacon:
    git: https://github.com/alann-maulana/flutter_beacon.git

[2021-03-12 21:27] PeterPoll commented on #73
@j04ntoh  Ok I will check it, thank you very much!

[2021-03-14 04:08] jjakob666 commented on #61
It will only range when the app is open.

We abandoned the app due to no viable solution for our particular need to
range at all times when the phone is powered on.

Regards,

Jason G Jakob
***@***.***
Cel: 1- 519-841-8617

On Fri, Mar 12, 2021 at 1:57 AM Peter Pollakis ***@***.***>
wrote:

[2021-03-14 14:16] casvanluijtelaar opened #85 "Error : java.lang.IllegalArgumentException: Unable to parse Identifier."
error running the `flutterBeacon.ranging` method on android (oneplus 7 pro):

[code]

tried on the latest release and the master branch.
flutter version 1.22.6

[2021-03-15 10:22] casvanluijtelaar commented on #85
it seems like [android-beacon-library](https://github.com/AltBeacon/android-beacon-library/blob/master/lib/src/main/java/org/altbeacon/beacon/Identifier.java) doesn't allow these kinds of identifiers:

[code]

so your example wouldn't work?

[2021-03-15 10:37] casvanluijtelaar commented on #85
correction, this error relates to the proximityUUID. It might be worth it wrapping those exceptions because this will create confusion for people new to bluetooth beacons

[2021-03-15 10:37] #85 closed

[2021-03-16 11:47] PeterPoll commented on #61
Ok I understand but I don't have problem.

Can you share with me a example ?

On Sun, 14 Mar 2021 at 06:09, Jason Jakob ***@***.***> wrote:

[2021-03-16 12:28] PeterPoll commented on #73
This works for android and IOS ?

I'm trying to detect my beacon but doesn't work

Thank you!

On Fri, 12 Mar 2021 at 23:25, Joan Toh ***@***.***> wrote:

[2021-03-16 12:38] PeterPoll commented on #73
Also I tried the above change on pubspec.yaml and I'm getting error.

[image: εικόνα.png]

On Tue, 16 Mar 2021 at 14:28, Πέτρος Πολλάκης ***@***.***> wrote:

[2021-03-16 23:35] Rav-Naz opened #86 "Ranging results always return beacons list with one Beacon"
Hello, I'm using flutter_beacon: ^0.3.0 version on real Android device. I have two iBeacon BLE devices, and both works. However, everytime when RangingResults occurs (1 second, btw. - can I scan more frequently?), in beacons list is always one of those iBeacons. In next scan, second is detected and is in result list. There is also scans where NO beacons is detected, even tho I do not moving beacon

[2021-03-23 12:03] PeterPoll commented on #86
Hello!

I'm trying but detecting 0 beacons, can you help me how to make it works ? I have 1 beacon device from blueup beacons.

Please, I'm looking 2 months now for this solutions.

Thank you very much!

[2021-03-23 22:45] Rav-Naz commented on #86
Hello, I'm done the same like in [example](https://pub.dev/packages/flutter_beacon/example). Only thing I've changed is:
`final regions = <Region>[
      Region(
        identifier: 'Cubeacon',
        proximityUUID: 'CB10023F-A318-3394-4199-A8730C7C1AEC',
      ),
    ];`
to:
`final regions = <Region>[
      Region(
        identifier: 'myCustomName',
        proximityUUID: 'myPromixityUUID', //i

[2021-03-23 22:49] PeterPoll commented on #86
I have tried but isn't work.

So the only change that I should make is the promixityUUID?

Am I right ?

Thank you.

[2021-03-23 22:54] Rav-Naz commented on #86
Sure, I haven't changed more.

[2021-03-23 22:56] PeterPoll commented on #86
Ok maybe need specific configuration from the beacon side ?

I have blue up beacon. https://www.blueupbeacons.com/index.php?page=mini

I have an app from this company and I can edit the configuration also I can see UUID to add it on my code.

I will try it again, I hope it works.. If you have more advices for this please tell me, I'm looking weeks for this to work.

Thank you.

[2021-03-25 13:38] BrayFlex opened #87 "Wondering if there is an ETA on updating the pub.dev package"
I can't use direct links to github in my project, is there a timelime to update the pub.dev package?

[2021-04-27 03:52] alann-maulana commented on #87
Hi @BrayFlex

Sorry, I have been working on some projects recently, just publishing it yesterday on pub.dev

You can check here [flutter_beacon: ^0.4.0](https://pub.dev/packages/flutter_beacon/versions/0.4.0)

[2021-04-27 03:52] #87 closed

[2021-04-27 03:59] alann-maulana commented on #79
Hi @zachisit

You can try to implement Beacon Simulator to achieve this [https://altbeacon.github.io/android-beacon-library/beacon_simulator.html](https://altbeacon.github.io/android-beacon-library/beacon_simulator.html). If someone can send a pull request about it, it would be great 😁

[2021-04-27 04:05] alann-maulana commented on #67
Sorry,

Have been working on some projects recently. Already done publishing v0.4.0 yesterday please check it here [https://pub.dev/packages/flutter_beacon/versions/0.4.0](https://pub.dev/packages/flutter_beacon/versions/0.4.0) with changelog :
* Update to Android v2 embedding
* Add broadcast Beacon feature
* Improve example app

Hope this helps.

[2021-04-27 04:05] #67 closed

[2021-04-27 04:07] alann-maulana commented on #73
Please update to [flutter_beacon: 0.4.0](https://pub.dev/packages/flutter_beacon/versions/0.4.0) to fix regarding this issue.

[2021-04-27 04:07] #73 closed

[2021-04-27 04:12] alann-maulana commented on #75
Hi @saqib556612

Can you try to update to the latest version 0.4.0 on pub.dev?

[2021-04-27 04:18] alann-maulana commented on #55
With latest update [flutter_beacon: 0.4.0](https://pub.dev/packages/flutter_beacon/versions/0.4.0) you can transmit as iBeacon too instead of scanning beacon only.

[2021-04-27 04:18] #55 closed

[2021-04-27 04:20] alann-maulana commented on #84
Hi @PeterPoll

You can run the example code provided on example folder here https://github.com/alann-maulana/flutter_beacon/tree/master/example. I have been updated it recently.

Hope this helps.

[2021-04-27 04:20] #84 closed

[2021-04-27 04:28] alann-maulana commented on #80
Hi @evanblasband

Those message are regarding Flutter engine https://github.com/flutter/flutter/issues/28651. With the latest release of Flutter, I don't seem to see it again. Is this issue persists?

[2021-04-27 04:30] alann-maulana commented on #82
Hi @abauer-inovex

I'll take a look about this after finish up adding sound null safety feature 😁

[2021-04-27 04:38] alann-maulana commented on #61
It's been a while for an issue. With recently release [fluter_beacon: 0.4.0](https://pub.dev/packages/flutter_beacon/versions/0.4.0) I have provided a working example for ranging beacons. This ranging even still working while we put it on background mode for a couple of minutes (only). It won't work for a long period because both Android and iOS would terminate its service.

[2021-04-27 04:41] alann-maulana commented on #76
Hi @paolorotolo

Yeah it's a nice to have feature, I will take a look for it after finish up adding sound null safety checks.

Thanks.

[2021-04-27 04:47] alann-maulana commented on #86
For Android scanning, you can at least add an `identifier` only for region scanning. But, on iOS we need at least `identifier ` and `proximityUUID ` to make it working. You can check the latest example here https://github.com/alann-maulana/flutter_beacon/tree/master/example

Close it for now

[2021-04-27 04:47] #86 closed

[2021-04-27 04:49] alann-maulana commented on #81
Thanks for reporting, I will take a look of it soon.

[2021-04-27 04:54] alann-maulana commented on #72
Hi @ebjerkelund

Thanks for your proposal. I don't have any beacon instead of iBeacon. So it will be an issue for me to test it (1).

(2) Are this functionality working on both Android and iOS of just one of them?

[2021-04-27 04:56] alann-maulana commented on #70
Hi, I'm curious which library/framework do you use on iOS for scanning Eddystone?

[2021-04-27 04:58] #57 closed

[2021-04-27 05:56] PeterPoll commented on #86
Thank you very much! I will try it again the example you just updated.

Thank you!

On Tue, 27 Apr 2021 at 07:47, Alann Maulana ***@***.***>
wrote:

[2021-04-27 05:57] jjakob666 commented on #61
That is correct. No workaround has been found to solve this problem

On Tue., Apr. 27, 2021, 12:38 a.m. Alann Maulana, ***@***.***>
wrote:

[2021-04-27 14:57] paolorotolo commented on #76
Nice, if you want ping me after null safety has landed. I can take care of updating the pull and resubmit.

[2021-04-28 01:25] ebjerkelund commented on #72
I only have Android devices and Eddystone  beacons so that is the only physical devices that I have tested my changes on.
I have tried hard to only add functionality and to not impact what is already there; but I have not tested that out not having the devices.
I think my fork is also a number of commits behind so there may be some merging that needs to happen.

[2021-05-02 20:04] ebjerkelund opened #89 "Flutter app keeps stopping on initialization on Android using 0.5.0"
Building and delivering on Android emulator using VS Code as debugging environment.
When deploying in a debug session on 0.5.0, app will not launch and says that it keeps stopping.
All works fine when using 0.3.0 and no other changes to my flutter app.
Have not tried 0.4.0 yet.

[2021-05-03 01:56] alann-maulana commented on #89
Use it at real device instead of emulator

[2021-05-03 04:16] ebjerkelund commented on #89
Thanks. It works when I run it on my device.

Is this a problem with the emulator? Or does it need to be accomodated for somehow in code?

Bluetooth support is only a part of the overall functionality of my app. Debugging and iterative development is more of a hassle when you need to use a real device. For now I can use the older version for development as it basically has feature parity for my pu

[2021-05-03 07:05] alann-maulana commented on #89
Yeah, it's already come in my mind too. I'll take a look on a few days.

[2021-05-03 21:56] alann-maulana commented on #76
Yes it was https://github.com/alann-maulana/flutter_beacon/releases/tag/0.5.0

[2021-05-03 22:28] paolorotolo commented on #76
@alann-maulana  Thanks, if I'm correct there's no need to update the pull. You're still able to merge it automatically and the code doesn't require updates to null safety.

[2021-05-06 21:52] #76 closed

[2021-05-07 11:29] cloudbreakstudios opened #90 "[Functionality Question] Scanning for all beacons"
Is this package able to listen for all iBeacon signals?  My requirement is that my app (Android and iOS) listens out for all iBeacons within range and then processes the information. This needs to work whilst the app is both in the foreground and background.

It looks like in order for this library to listen i need to provide specific regions/uuids which is not something i can do in this scenario.

[2021-05-09 02:13] alann-maulana commented on #90
Hi @cloudbreakstudios

You can check related comments about your answer above :
- Scan using spesific region https://github.com/alann-maulana/flutter_beacon/issues/37#issuecomment-570873019
- Scanning in background https://github.com/alann-maulana/flutter_beacon/issues/22, https://github.com/alann-maulana/flutter_beacon/issues/45, https://github.com/alann-maulana/flutter_beacon/issues/59, https://

[2021-05-13 10:15] dariocavada opened #91 "App Rejection due to the use of location - has anyone had the same problem?"
I got this message from google.
I followed all the instructions for using the location (for beacons) permissions, etc.,
but google still doesn't like it.

**Has anyone had the same problem and solved it?**

Following the message I received:

[2021-05-13 23:10] alann-maulana commented on #91
Hi @dariocavada

You need to comply with play store policy regarding location permissions. Please see some of threads here :
-  https://support.google.com/googleplay/android-developer/answer/9799150?hl=en
- https://stackoverflow.com/questions/61635589/permission-review-google-play-for-access-to-background-location

I have been working with this library for my daily projects, with beacons. There is

[2021-05-14 08:20] ksheremet opened #92 "No MonitoringResult updates on iOS when beacon is not in range"
[code]
flutter_beacon: ^0.4.0

The app is in the foreground.

Android works well.

[2021-05-14 22:33] alann-maulana commented on #92
Hi @ksheremet

Which iOS device and version do you use as tester device?

[2021-05-16 09:17] ksheremet commented on #92
@alann-maulana

iPhone 7, version iOS 14.4.2

[2021-05-22 13:27] casvanluijtelaar opened #93 "ranging stream never fires an event"
hey,

I have been testing out this package, But I'm running into an issue where whatever I try, `flutterBeacon.ranging` will never have a stream update, not with the beacon I'm looking for, not even empty.

this is the beacon I have to test with:
![image](https://user-images.githubusercontent.com/67225314/119228119-c5111000-bb11-11eb-9996-cf684c57255a.png)

this is what the implementation looks li

[2021-05-24 08:58] alann-maulana commented on #93
Hi @casvanluijtelaar

Do you already run the example app (and matching the UUID on region)?

[2021-05-24 09:20] casvanluijtelaar commented on #93
I have, same problems. side note, the example android folder hasn't been migrated yet to android embedding v2
![Screenshot 2021-05-24 111917](https://user-images.githubusercontent.com/67225314/119326285-06c0c880-bc82-11eb-9960-ebcd2eea7439.png)
![Screenshot_20210524-111903](https://user-images.githubusercontent.com/67225314/119326288-07595f00-bc82-11eb-80c1-dcdc63864d42.jpg)

[2021-05-24 09:24] casvanluijtelaar commented on #93
interesting, just tested the example on a nexus 5x and that did find the beacon correctly. I'll do some investigation why it wouldn't work on a oneplus 7 pro

[2021-05-29 07:34] casvanluijtelaar commented on #93
I can't find out any differences between running on the nexus 5x and the oneplus 7 pro. Other play store beacon apps work fine on the oneplus. but this packages stream will never yield anything. The only thing that stands out is that the oneplus permissions default to "only whilst using the app". Any tips of things I can look into?

[2021-06-01 09:33] casvanluijtelaar commented on #93
I've tested this both on an Oneplus 7 pro and a Samsung Galaxy a41 running android 10. In both cases this package doesn't work with the issues described above. is it possible this package isnt compatible with android 10 yet? @alann-maulana

[2021-06-01 09:34] casvanluijtelaar commented on #93
see this issue? https://stackoverflow.com/questions/58059097/altbeacon-stopped-working-on-android10-and-didenterregion-does-not-get-called-at

[2021-06-01 10:32] casvanluijtelaar commented on #93
the solutions provided on stackoverflow and here [https://github.com/alann-maulana/flutter_beacon/issues/67]( https://github.com/alann-maulana/flutter_beacon/issues/67 ) did not resolve my problems.

[2021-06-02 03:31] alann-maulana commented on #93
I have tested it on my Galaxy phones running Android 10 and 11, there is no issue regarding Android version. It's a bit hard to find/borrow a OnePlus phone here. But, I'll look into it again later for device/Android version issue.

Thanks for reporting.

[2021-06-02 06:46] casvanluijtelaar commented on #93
some general information:

<details>
  <summary>Flutter Doctor</summary>

[√] Flutter (Channel stable, 2.2.0, on Microsoft Windows [Version 10.0.19042.985], locale en-GB)
    • Flutter version 2.2.0 at D:\Android\flutter
    • Framework revision b22742018b (3 weeks ago), 2021-05-14 19:12:57 -0700
    • Engine revision a9d88a4d18
    • Dart version 2.13.0

[√] Android toolchain - develop for Androi

[2021-06-02 09:34] dariocavada commented on #93
Tested on Mi 9T
Android 10
Without any issue.

[2021-06-02 11:52] casvanluijtelaar commented on #93
The only thing I can think of is when asked for Bluetooth permissions both the oneplus and the galaxy only gave the permissions option "only whilst using the app",  I see in the source that the "restricted permissions are only for IOS. is there no android equivalent?

[2021-06-14 23:26] HugoSart opened #94 "Background scanning not working after some time"
The scanning is working fine and the background scanning is also working for some minutes but after a while, I can't see any more events being detected.

I just keep getting these logs repeatedly:
[code]

In the first 30 mins or so, these logs also appears but eventually I'm able to see some events, but after that, no events are shown.

[2021-06-15 00:47] abedputra commented on #94
Please check here why https://github.com/alann-maulana/flutter_beacon/issues/61

[2021-06-15 16:39] #94 closed

[2021-06-30 12:09] Marthijs-Berfelo commented on #76
@alann-maulana when is the next release expected?

[2021-07-01 05:07] alann-maulana commented on #76
Hi @Marthijs-Berfelo

I'm still working on fixing beacon scanner not working on some device for both Android and iOS. This is related to newer OS version, updated permissions etc.

[2021-07-01 07:26] dariocavada commented on #76
Hi @alann-maulana, if you need some testing or help for fixing bugs I can test on 2 android devices and iPhone 11, iPhone 7, 8 and 6.

[2021-07-05 20:37] meridorkobi opened #95 "listen or trigger my app"
Can I use this plugin to listen to a BLE device or to trigger the app
while the app in foreground, background closed?

[2021-07-07 14:31] EricHier opened #96 "Monitoring does not work on iOS"
Hi there!

When testing the [example project](https://github.com/AppHoc/beacons-test) I created, the monitoring does not work on iOS. The Android version is working fine. I am sure that the beacon with the specified `uuid` is in range (detected in other apps and on a mac) and the permission `when in use` is granted correctly. Bluetooth is enabled.

What can be the reason the plugin is not working

[2021-07-07 23:39] brunoshine opened #97 "Not working on Android"
Hi,

I've created a simple app, that works on iOS device (ranging and monitoring events are triggered) but does not work on android device, as beacons are active, monitoring does not get called (no logs) and ranging reports empty beacons array.

Any thoughts on what might be happening?
thanks.

iOS result:
[code]

Android result:
[code]

code:
[code]

[2021-07-08 10:20] #96 closed

[2021-07-09 17:16] dariocavada commented on #97
I had the same problem and solved using uppercase UUID.

`6a84c716-0f2a-1ce9-f210-6a63bd873dd9` --> this does not work.

`6A84C716-0F2A-1CE9-F210-6A63BD873DD9` --> this works !

[2021-07-13 14:07] brunoshine commented on #97
Hi @dariocavada thank you for your reply but replacing for uppercase did not worked for me. Still not showing the beacons of the raging event nor on the monitoring. :/

[2021-07-26 16:10] s-h-x commented on #97
Can you try to (manually) add Location permission to "ALWAYS" for your app ?

BEFORE : no beacon when ranging (normal location permission dialog does not show the "Always" setting in my case, but only "when in use")
AFTER after manually setting this : got my beacon in the ranging results.

It seems that using very recent versions of SDK, using flutter_beacons requires the location permission at "A

[2021-08-12 11:40] dariocavada opened #98 "Porting to the"
I see that the android-beacon-library version is 2.16.3, but the latest stable version is 2.17.1.
Are you planning to upgrade your plugin with the latest version of this library or are there problems?

build.gradle:

[code]

[2021-08-12 13:30] dariocavada commented on #97
I have the same error with the targetSdkVersion 30,
but if I use the version 28 it works...

Unfortunately The Play Store wants the targetSdkVersion 30 ...

[code]

[2021-08-12 13:59] dariocavada commented on #97
SOLVED:

as mentioned here: #

https://altbeacon.github.io/android-beacon-library/

for version 30 (Android 10, 11) is necessary to add manually ```ACCESS_FINE_LOCATION```

[code]

or if you want also background scanning:
[code]

[2021-08-12 15:12] dariocavada commented on #95
This package is for iBeacon only,
you can check this package: https://pub.dev/packages/flutter_blue for generic BLE devices.

[2021-08-13 18:37] viralkachhadiya opened #100 "Beacon transmit advertisement data to device(android or ios)."
@alann-maulana

How can I get advertising data?
How can I get payload from deleted or scanned beacon?
How can I transfer scan beacon's message or data to device?

[2021-08-20 15:58] michael-golfi commented on #100
This would be extremely helpful for me as well. Currently our workaround is to initiate a scan using `flutter_blue` during the ranging `listen` method

[2021-08-23 15:03] anthonyhunter opened #101 "fix for runtime exception on Android"
great plugin, thanks

getting  runtime exception on Android `Methods marked with @UiThread must be executed on the main thread`

see [Jumping to the UI thread in Android](https://flutter.dev/docs/development/platform-integration/platform-channels#jumping-to-the-ui-thread-in-android)

changes to `FlutterBeaconScanner.java` to fix

[code]

[2021-09-01 19:22] emaddoma opened #102 "Android Crash"
App will not start after adding library to yaml.  I've followed the instructions and have yet to add any changes to Flutter.

[code]

Here's my Flutter Doctor output

[code]

[2021-09-02 15:22] supermuesli commented on #101
can you fork and add a pr with your changes?

[2021-09-10 10:50] VinniciusJesus opened #104 "[ANDROID] Crash/Fatal Exception"
**I'm getting a fatal exception when I monitor on android**
Flutter version: 2.2.3
Flutter_beacon: ^0.5.1
Samsung A10 - Android 10

**My Code**
`
          await flutterBeacon.initializeScanning;
void start(List<Region> regions) {
    flutterBeacon.monitoring(regions).listen((MonitoringResult result) {
      print("monitoring");
    });
  }`

I get monitoring results for a few seconds before the a

[2021-09-12 12:51] wayne900204 commented on #104
i have this issue too

[2021-09-17 22:44] Ahmadre commented on #92
@alann-maulana any updates yet?

Same is happening to me:

iOS 14
Iphone 11 Pro

[2021-09-18 16:49] Ahmadre commented on #92
Update: it's working now perfectly on iOS 14.7.1 :)

It was just my fault. Monitoring is fast and detects directly outside and inside. Good job @alann-maulana 👍🏼

Here's my version @ksheremet :

[code]

[2021-09-18 17:54] Ahmadre commented on #104
@alann-maulana

[2021-09-19 03:56] anthonyhunter commented on #104
see #101 for fix, PR waiting review

[2021-09-20 20:55] typexy opened #105 "Foregroundservice: MissingPluginException"
When trying to execute
`flutterBeacon.initializeScanning`
from a foreground service function, an exception is thrown:
  _Unhandled Exception: MissingPluginException(No implementation found for method initialize on channel flutter_beacon)
  #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:154:7)
  #1      FlutterBeacon.initializeScanning (package:flutter_beaco

[2021-09-30 16:30] mherfurt opened #106 "No implementation found for method listen on channel flutter_beacon_event"
Hi all,
I am trying to use the flutter_beacon (0.5.1) package but do not succeed due to this message:

[code]
Did I forget about something, here?

The Platform I am trying to run this on is Android 11.
I am using flutter 2.5.1

    • Flutter version 2.5.1 at /home/xxx/snap/flutter/common/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision ffb2ecea52 (1

[2021-10-04 15:06] barangungor commented on #106
I'm facing same error, i should fix this error can you help me if you resolved this.

[2021-10-04 15:28] mherfurt commented on #106
I resolved it by moving to a different package: beacons_plugin: ^2.0.1
No issues so far!

[2021-10-04 15:50] barangungor commented on #106
I'll try, thanks.

[2021-10-20 20:41] typexy commented on #40
Hi @alann-maulana is **monitoring** also working on iOs, when app is running in background (but not terminated)?

[2021-11-04 10:07] eggysudianto opened #107 "how to stop beacon from ranging if already found"
how to stop beacon from ranging if already found which beacon I want

this my code. `_streamRanging.cancel();` is never called because beacon always ranging even though I break the looping
[code]

[2021-11-09 14:53] VinniciusJesus commented on #105
@alann-maulana can you help us?

[2021-11-12 10:27] Bhuvan69 commented on #104
Is this issue fixed? I still face the same issue as mentioned above.

[2021-11-12 10:40] VinniciusJesus commented on #104
still unresolved

[2021-11-15 10:27] Bhuvan69 commented on #96
@EricHier Did you make it work? Any update on this?

[2021-11-15 10:28] Bhuvan69 commented on #40
@typexy Did you find a way to monitor the beacons on background?

[2021-11-15 10:52] EricHier commented on #96
@Bhuvan69 I did not find a solution and stopped working with the plugin. :/

[2021-11-15 10:57] Bhuvan69 commented on #96
@EricHier Any other plugin which does this?

[2021-11-16 09:19] KinectTheUnknown commented on #107
You should store the stream subscription as a property in the widget so you can cancel it in the setState and set it to null

[2021-11-24 11:55] VinniciusJesus commented on #105
@typexy Did you get a solution?

[2021-12-05 10:00] GeekSlts commented on #107
If you don't need the loop, you can try removing the repeating values and only display your updated uniques-beacons.

Try to make a new Map of your ranging then join to the map the result with a forEach, you can delete all duplicates values with this:

[code]

[2021-12-09 09:08] eggyot opened #108 "BUGS IOS cannot complete scanning in second try"
I try to find beacon and in first try to scanning it's work normal. after found beacon and I try to scanning again with same function, it's cannot complete and `whenComplete` is never execute

**ADD NOTE**
**maybe because permission in ios cannot run twice like this post? https://github.com/Baseflow/flutter-permission-handler/issues/752**

[code]

[2022-01-05 08:07] ravinandan25 commented on #105
facing the same issue when trying to initialize in isolate.

[2022-01-19 10:51] XinyueZ opened #109 "Android 12 issue: Caused by java.lang.IllegalStateException: Reply already submitted"
[code]

[code]

[2022-01-20 11:10] gmstyle commented on #80
Same problem for me when the app is closed by back button on flutter beta if **i use a physical device to work.**
**It not happen on android emulator**

Flutter 2.10.0-0.1.pre • channel beta • https://github.com/flutter/flutter.git
Framework • revision 628f0e3f3a (8 days ago) • 2022-01-11 19:50:05 -0600
Engine • revision 63ca99584a
Tools • Dart 2.16.0 (build 2.16.0-134.1.beta) • DevTools 2.9.2

`W

[2022-01-24 19:40] bobwiller opened #110 "Distance Accuracy"
I am learning as much about BLE beacons as fast as I can.  We are trying to use this package to determine distance to a bluetooth beacon to automagically unlock doors when a valid device is within range.

For Android, we found there was a 20 second delay built into core Android Beacon Library as documented here: https://altbeacon.github.io/android-beacon-library/distance_vs_time.html.  By changing

[2022-01-25 03:04] iles-Chester opened #111 "is it possible to ranging without UUID but major number?"
is it possible to ranging without UUID but major number?

I tried to set Region(identifier: name, major: 1), however, it is not work, the uuid is not null, it is replaced by major.

[2022-01-30 04:59] watsmyname opened #112 "Show beacon on google map"
Is it possible to show the direction of beacon on google map with respect to the phone's current direction.

[2022-02-02 03:39] watsmyname commented on #72
Seems that this plugin is abandoned, can you please add Eddystone in latest build and create and publish new package to pub.dev? This will help many of us.

Thanks

[2022-02-03 12:32] EinatK commented on #104
any idea if and when this will be resolved ?

[2022-02-21 02:20] alan2030 commented on #45
Hi @Marcoslima016, I encountered the same issue as you. Could you please put a complete example as you mentioned?

[2022-02-26 01:48] HadenHiles commented on #104
Same issue here, spent the past few hours trying to find this thread. Was going crazy lol

[2022-03-19 19:33] LutfiGarzon commented on #109
Have the same issue seems related to the permissions how is handle.

[2022-03-20 02:31] LutfiGarzon commented on #109
There's a workaround, you just need to manually when starting the Bluetooth.
[code]
After you do this will not crash is not a solution but is better than anything else until there's a better solution.

[2022-03-23 12:27] keonwoopark00 commented on #111
You need to set UUID in iOS.

[2022-03-31 07:15] scarlos723 opened #113 "Permissions bluetooth scan"
Hello, actually I update my device to android 13. When I try run the app I have this error in the exec: * Security Exception: Need android.permission.BLUETOOTH_SCAN permission for android.content.AttributionSource@84c3ca22: GattService registerScanner *
I have been change the manifest code with deferents solutions but dontA' work any
My android manifest has this code :
`<uses-permission
        an

[2022-04-01 10:43] iles-Chester commented on #105
Do you find any hit to do this?

[2022-04-01 11:25] barangungor commented on #105
I tried and faced same error. I guess this plugin doesn't support for foreground services.

[2022-04-15 11:01] sandeepunify commented on #113
java.lang.SecurityException: Permission Denial: starting Intent { act=android.bluetooth.adapter.action.REQUEST_ENABLE cmp=com.android.settings/.bluetooth.RequestPermissionActivity } from ProcessRecord{321302e 23158:dw.ujjainapp.app/u0a438} (pid=23158, uid=10438) requires android.permission.BLUETOOTH_CONNECT

When we use await flutterBeacon.openBluetoothSettings;
please solve this issue
This issue

[2022-04-19 08:49] sandeepunify commented on #113
@alann-maulana any update about this issue?

[2022-05-17 04:32] atishpaul opened #114 "example app keeps loading, not detecting beacon device."
Hi,
First of all, you are doing a great job by helping us. appreciated!

I have installed the example app and tested it with **Feasycom FSC-BP201**.  unfortunately It is not detecting the device. It just keep loading.
I enabled BT, LOCATION, HOTSPOT first and then started the app.

This beacon device is working fine with feasycom demo app.

Is there any solution to this?

[2022-05-18 15:22] genjm opened #115 "How to change the frequency of the ranging scans ( iOS )?"
I've got the plugin working in my app but it is returning results every second, when I only really want a very infrequent update as once the user is within a location, they are unlikely to move for quite a long period of time.

Is it possible to set the app to scan every, say, 10 minutes?

Thanks.

[2022-05-19 13:55] timbowerbank commented on #110
Hi @bobwiller, did you find a solution to this? With ios did you get any distance / proximity recorded?
With thanks, Tim

[2022-05-23 00:38] Omariel opened #116 "I can't get information from the beacons"
I have been doing tests with the library for a week and I had not had any problem, but since yesterday I have not been able to get information from any beacon, I thought that maybe it was because I had modified the code a bit, but I use the example code and you don't get information either, does anyone know something or does it just happen to me?

[2022-05-23 00:45] #116 closed, assigned to nobody

[2022-06-01 07:30] theamorn commented on #113
@sandeepunify  just come to update, I have upgraded to Flutter 3.0 and thought that the problem come from this lib as well, but after looking carefully, Android 12 needs an explicit request for Bluetooth scan and advertise for making beacon works so you need to add this 2 lines, I use permission_handler

[code]

and don't forget to add in Android manifest.xml

[code]

[2022-06-25 11:56] ElKood-Sol commented on #45
Yes Please

[2022-07-11 03:46] official-ravi commented on #45
Hi @Marcoslima016,

 I encountered the same issue as you. Could you please put a complete example as you mentioned?

[2022-07-27 07:58] tamaraspringer opened #117 "Library support"
Will the library still be supported and updated?

[2022-08-01 10:21] mokhles404 commented on #108
Did you find any solution?

[2022-08-01 11:12] eleumasc commented on #101
Hi, is it possible to release a version that fixes this bug on pub.dev? Thank you in advance!

[2022-08-03 08:36] eggyot commented on #108
nope

[2022-08-03 09:17] babo3yong2 commented on #111
me too

[2022-08-29 13:12] raj457036 commented on #108
1. call `await flutterBeacon.initializeAndCheckScanning;` once anywhere before calling any other method. ( To initialize the LocationManager)
2. Use PR #118 for now. ( Fixes the **[CoreBluetooth] XPC connection invalid**  )

[2022-09-08 17:31] Guru-Zachw commented on #104
Temporary Solution:
[code]

[2022-10-10 13:05] iremiko opened #119 "Is it possible to find out the battery of the device ?"
I have to learn battery of device. Can library support this field, or how can I learn?

Thank you

[2022-10-10 21:32] typexy commented on #117
@tamaraspringer Seems that it's not actively maintained anymore, does it? Did you find another great package like this one?

[2022-10-19 08:07] HedgeHao commented on #117
Also looking for up-to-date beacon package

[2022-10-21 17:29] echb commented on #115
@genjm  did you was able to scan on ios device?
[code]

[2022-10-21 18:12] echb commented on #97
@brunoshine i have the same code as you (with my uuid of course) but i cannot get the rssi, it always return 0

[code]
version flutter_beacon: ^0.5.1
i followed as the example (https://pub.dev/packages/flutter_beacon), am i missing a permission?
[code]
any idea?

[2022-11-01 15:28] n-lou opened #120 "[PROBLEM] Scanning when app is killed"
I am trying to use background_fetch to scan when app is killed, but for some reason it doesn't work. When the app is open, everything works well but when it is killed, it seems like my _scan  function from _streamRanging = flutterBeacon.ranging(_regions).listen((_scan)); is not called. Is there any solutions for this problem?
Thanks!

[2022-11-09 05:34] anilkumar91583 commented on #86
Not able to scan iBeacons, trying from a long time in the result it is empty. Can any one help me out

[2022-11-10 12:50] jbeauchemin commented on #117
Have you found another library?
I currently use this library, but would like to find a newer one.

[2022-11-15 11:16] devberkay commented on #108
any update?

[2022-11-15 13:56] devberkay commented on #45
Hi @Marcoslima016,

I encountered the same issue as you. Could you please put a complete example as you mentioned?

[2022-11-15 14:13] devberkay commented on #40
is monitoring on iOS in background possible? I couldn't do that.

[2022-11-16 13:36] Qualcuno opened #121 "Scanner does not start with Wi-Fi turned off"
If the application starts with the wifi on, everything works fine, the beacons are detected and even when the wifi is switched off during the life of the app the scanner continues to work without any problems.
But if the application starts with wifi turned off, no beacon is detected. If I turn on wifi when the app is running, the scanner starts working.
Looking at the logs

When at app starts wifi